<div class="content">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="list-op" id="list_op">
        <form #searchform="ngForm" novalidate>
          <div class="form-inline"  >
            <div class="form-group">
              <label class="state">状态：</label>
              <select name="state" [(ngModel)]="statusSearch" (change)="search(searchform)">
                <option *ngFor="let item of status" >{{item}}</option>
              </select>
            </div>
            <div class="form-group">
              <label >创建时间：</label>
              <div class="input-group" >
                <input class="form-control " placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="newItem.startTime"
                       ngbDatepicker #d1="ngbDatepicker" [maxDate]= "startmaxDate" [minDate]="startminDate" [firstDayOfWeek]="7">
                <div class="input-group-addon" (click)="startTime(searchform,d1)"  >
                  <i class="fa fa-calendar" aria-hidden="true" ></i>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="endtime">至：</label>
              <div class="input-group">
                <input class="form-control " placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="newItem.endTime"
                       ngbDatepicker #d2="ngbDatepicker" [maxDate]= "endmaxDate" [minDate]="endminDate" [firstDayOfWeek]="7">
                <div class="input-group-addon" (click)="endTime(searchform,d2)" >
                  <i class="fa fa-calendar" aria-hidden="true" ></i>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="tablename">表名：</label>
              <input type="text"  class="form-control" placeholder="项目创建/修改的表名"   name="tablename"
                     [(ngModel)]="tablenameSearch" (keyup)="search(searchform)">
            </div>
            <div class="form-group">
              <label >参与人：</label>
              <input type="text"  class="form-control" placeholder="项目成员名称"  name="members"
                     [(ngModel)]="membersSearch" (keyup)="search(searchform)">
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label >应用系统：</label>
              <select name="sysname" [(ngModel)]="sysnameSearch" (change)="search(searchform)">
                <option selected="selected">不限</option>
                <option *ngFor="let item of systems">{{item}}</option>
              </select>
            </div>
            <div class="form-group">
              <label >应用模块：</label>
              <select name="modulename" [(ngModel)]="modulenameSearch" (change)="search(searchform)">
                <option selected="selected">不限</option>
                <option *ngFor="let item of modules">{{item}}</option>
              </select>
            </div>
            <div class="form-group">
              <label >项目ID：</label>
              <input type="text"  class="form-control" name="id" [(ngModel)]="projectIdSearch" (keyup)="search(searchform)"/>
            </div>
            <div class="form-group">
                <label >项目名：</label>
                <input type="text"  class="form-control" name="projectname" [(ngModel)]="projectnameSearch" (keyup)="search(searchform)"/>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-secondary " (click)="search(searchform)">
                  <span class="fa fa-search " aria-hidden="true"></span>查询
                </button>
                <span>|</span>
                <button type="button" class="btn btn-secondary " (click)="refresh(searchform)">
                  <span class="fa fa-refresh" aria-hidden="true" ></span>重置
                </button>
                  <span>|</span>
                <button type="button" class="btn btn-secondary " data-toggle="modal" data-target="#projectModal" (click)="setTitle('新增','',projectform)">
                  <span class="fa fa-plus" aria-hidden="true" ></span>新增
                </button>
            </div>
          </div>
        </form>
      </div>
      <table class="table table-striped table-hover" >
        <tr>
          <td>项目ID</td>
          <td>项目名称</td>
          <td>模块名称</td>
          <td>状态</td>
          <td>创建者</td>
          <td>负责人</td>
          <td>创建时间</td>
          <td>最后修改时间</td>
          <td>描述</td>
          <td>操作</td>
        </tr>
        <tr  *ngFor="let project of projects | slice: start:end ">
          <td>{{project.id}}</td>
          <td>{{project.projectname}}</td>
          <td>{{project.modulename}}</td>
          <td>{{project.state}}</td>
          <td>{{project.creatror}}</td>
          <td>{{project.principal}}</td>
          <td>{{project.gmtCreate}}</td>
          <td>{{project.gmtModified}}</td>
          <td title={{project.comments}} >{{project.comments ? project.comments : '--' }}</td>
          <td>
            <a class="action" data-toggle="modal"   data-target="#projectModal" (click)="setTitle('查看',project)" >
              <i class="fa fa-eye" data-toggle="tooltip" title="查看"></i>
            </a>
            <a class="action" data-toggle="modal"  data-target="#projectModal" (click)="setTitle('修改',project,projectform)" >
              <i class="fa fa-edit" data-toggle="tooltip" title="修改"></i>
            </a>
            <a class="action" (click)="deleteProject(project)">
              <i class="fa fa-trash" data-toggle="tooltip" title="删除"></i>
            </a>
            <a class="action" routerLink="./project" routerLinkActive="active" >
              <i class="fa fa-newspaper-o" data-toggle="tooltip" title="查看项目详情" ></i>
            </a>
            <a class="action" >
              <i class="fa fa-snowflake-o" data-toggle="tooltip" title="冻结项目"></i>
            </a>
          </td>
        </tr>
      </table>
      <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [maxSize]="7"
                      [rotate]="true" (pageChange)="pagination(page)">

      </ngb-pagination>
    </div>
  </div>

  <!--modal-->
  <!--项目modal-->
  <div class="modal fade" id="projectModal" tabindex="-1" role="dialog"  data-backdrop="static" #projectmodal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" [formGroup]="projectform" novalidate>
            <div class="form-group row" hidden>
              <label for="projectid" class="col-sm-2 control-label ">项目id：</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="projectid" name="id" formControlName="id" [(ngModel)]="projectidValue">
              </div>
            </div>
            <div class="form-group row" hidden>
              <label for="moduleId" class="col-sm-2 control-label ">模块id：</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="moduleId" name="moduleId" formControlName="moduleId" [(ngModel)]="moduleidValue">
              </div>
            </div>
            <div class="form-group row" hidden>
              <label  class="col-sm-2 control-label ">项目成员ids：</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"  >
              </div>
            </div>
            <div class="form-group row">
              <label for="projectName" class="col-sm-2 control-label ">项目名称：</label>
              <div class="col-sm-9" [ngClass]="{'has-danger': projectform.get('projectname').invalid &&
              (projectform.get('projectname').touched ||projectform.get('projectname').dirty ) }">
                <input type="text" class="form-control" id="projectName" name="projectname" formControlName="projectname"
                       [(ngModel)]="projectnameValue"  [readonly]="isReadonly">
              </div>
              <div class="col-sm-1">
                 <span class="fa fa-info-circle info" *ngIf="projectform.get('projectname').invalid && projectform.get('projectname').touched && projectform.hasError('required','projectname')"
                       data-target="tooltip" title="项目名称不能为空" >
                 </span>
                <span class="fa fa-info-circle info" *ngIf=" projectform.hasError('projectnamevalid','projectname') && projectform.get('projectname').value" data-target="tooltip"
                      title="项目名称只可包含中文、英文字符、数字以及_.-符号" >
                 </span>
              </div>

            </div>
            <div class="form-group row">
              <label  for="moduleName" class="col-sm-2 control-label">模块名称:</label>
              <div class="col-sm-7" [ngClass]="{'has-danger': projectform.get('modulename').invalid &&
                                    (projectform.get('modulename').touched ||projectform.get('modulename').dirty ) }">
                <input type="text" class="form-control" id="moduleName" readonly  name="modulename" formControlName="modulename"
                       [(ngModel)]="moduleValue" >
              </div>
              <button class="btn btn-secondary col-sm-2" data-toggle="modal" data-target="#moduleModal" [disabled]="canChooseModule">
                <span class="fa fa-plus" aria-hidden="true"></span>选择模块
              </button>
               <span class="fa fa-info-circle info info-pro" *ngIf="projectform.get('modulename').invalid && projectform.get('modulename').touched && projectform.hasError('required','modulename')"
                     data-target="tooltip" title="模块名称不能为空" >
               </span>
            </div>
            <div class="form-group row" hidden>
              <label  class="col-sm-2 control-label ">项目负责人：</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="principal" formControlName="principal" [(ngModel)]="principalValue" >
              </div>
            </div>
            <div class="form-group row">
              <label for="projectDiscribe" class="col-sm-2 control-label">描述：</label>
              <div class="col-sm-9">
                <textarea name="comments" formControlName="comments"[readonly]="isReadonly" [(ngModel)]="commentsValue"  class="form-control"
                          id="projectDiscribe"  row="10" placeholder="请输入项目的描述说明，长度不可大于100个字符"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="memberName" class="col-sm-2 control-label">项目成员:</label>
              <div class="col-sm-7" [ngClass]="{'has-danger': projectform.get('members').invalid &&
                                    (projectform.get('members').touched ||projectform.get('members').dirty ) }">
                <input type="text" class="form-control" id="memberName" readonly name="members" formControlName="members" [(ngModel)]="membersValue">
              </div>
              <button class="btn btn-secondary col-sm-2 " data-toggle="modal" data-target="#memberModal"
                      [disabled]="canChooseMember" (click)="checkmember(table)">
                <span class="fa fa-plus" aria-hidden="true"></span>选择成员
              </button>
               <span class="fa fa-info-circle info info-pro" *ngIf="projectform.get('members').invalid && projectform.get('members').touched && projectform.hasError('required','members')"
                     data-target="tooltip" title="模块名称不能为空" >
               </span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary " (click)="save(projectform,projectmodal)"  [disabled]="!projectform.valid" [hidden]="isHidden">保存</button>
          <button type="button" class="btn btn-light cancle" data-dismiss="modal" [hidden]="isHidden">取消</button>
          <button type="button" class="btn btn-light cancle" data-dismiss="modal" [hidden]="!isHidden">关闭</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!--选择模块modal-->
  <div class="modal fade" id="moduleModal" tabindex="-1" role="dialog" data-backdrop="static" #modal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">选择模块</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" #selectModuleform="ngForm" novalidate>
            <div class="form-group row">
              <label for="projectName" class="col-sm-2 control-label ">应用系统：</label>
              <div class="col-sm-10">
                <select class="form-control" name="sysname" [(ngModel)]="sysValue" (click)="select($event.target.value)">
                  <option *ngFor="let item of sysSearch">{{item}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-2 control-label">模块名称：</label>
              <div class="col-sm-10">
                <select class="form-control canselect" name="modulename" [(ngModel)]="moduleValue" [disabled]="canSelect">
                  <option *ngFor="let item of moduleSearch" >{{item}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary " (click)="saveModule(selectModuleform, projectform, modal)" >保存</button>
          <button type="button" class="btn btn-light cancle" data-dismiss="modal">取消</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




  <!--选择成员的modal-->
  <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" data-backdrop="static" #membermodal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">选择项目成员</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form-inline modalsearch" #selectMemberform="ngForm" novalidate>
                <div class="form-group">
                  <label for="username">姓名：</label>
                  <input type="text" class="form-control" id="username" name="username" ngModel  [value]="username" (keyup)="searchUser(selectMemberform)">
                </div>
                <button type="submit" class="btn btn-secondary search" (click)="searchUser(selectMemberform)">
                  <span class="fa fa-search" aria-hidden="true"></span>查询
                </button>
                <button type="button" class="btn btn-secondary" (click)="refreshUser()">
                  <span class="fa fa-refresh" aria-hidden="true" ></span>刷新
                </button>
              </form>
              <table class="table table-striped table-bordered table-hover" #table>
                <tr>
                  <td><input type="checkbox" class="combo" [(ngModel)]="isChecked" /></td>
                  <td>姓名</td>
                  <td class="role">角色</td>
                  <td>EMAIL</td>
                  <td>是否为负责人</td>
                </tr>
                <tr *ngFor="let user of users | slice: start:end " >
                  <td><input type="checkbox"  class="combo" [checked]="isChecked" value={{user.username}}/></td>
                  <td >{{user.username}}</td>
                  <td class="role">{{user.role}}</td>
                  <td>{{user.email}}</td>
                  <td><input type="checkbox" /></td>
                </tr>
              </table>
              <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [maxSize]="7"
                              [rotate]="true" (pageChange)="pagination(page)">

              </ngb-pagination>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" #abc (click)="saveMember(table, projectform , membermodal)" >确定</button>
          <button type="button" class="btn btn-light cancle" data-dismiss="modal">取消</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
<router-outlet></router-outlet>
