/*搜索条*/
.form-inline .form-group{
  margin-right: 5px;
}
.form-inline .form-group label{
  justify-content: left;
}
.form-inline .form-group select, .form-inline .form-group input{
  width: 160px;
}
.form-inline .form-group .state{
  width:70px;
}
.form-inline .form-group .endtime, .tablename{
  width:56px;
}

/*日历图标*/
.input-group{
  /*margin-right:5px;*/
}
.input-group-addon {
  cursor: pointer;
}
.input-group .form-control{
  width:120px !important;
}
