.wrap{
background-image: url("../../img/bg.jpg");
background-size: cover;
position: relative;
min-width: 1200px;
min-height: 700px;
height: 100%

}
.container{
  min-width: 340px;
  text-align: center;
  width: 340px;
  height: auto;
  background-color: #F2F2F2;
  position: absolute;
  top: 20%;
  right: 15%;
  width: 18%
}
h1{
  margin: 10px 0;
}
h4{
  margin-bottom: 30px;
}
.input-group .form-control{
  height: 40px;
  width: 265px;
  flex: none;
}
.form-group{
  margin-left:5px;
}
.input-group-addon{
  padding-top:10px;
}

.login, .reset{
  width: 142px;
  margin-bottom: 30px;
}
 .reset{
   margin-left: 10px;
 }
