.wrap{
background-image: url("../../img/bg.jpg");
background-size: cover;
position: relative;
min-width: 1200px;
min-height: 700px;
height: 100%

}


.container{
  min-width: 300px;
  text-align: center;
  width: 300px;
  height: auto;
  background-color: #F2F2F2;
  position: absolute;
  top: 20%;
  right: 15%;
  width: 18%
}
h1{
  margin: 10px 0;
}
h4{
  margin-bottom: 30px;
}
.form-control{
  height: 40px;
  width: 240px;
}
.input-group-addon{
  padding-top:12px;
}
.login, .reset{
  width: 130px;
  margin-bottom: 30px;
}
 .reset{
   margin-left: 10px;
 }
