/*left-table部分*/
.left-table{
  float:left;
  width:60%;
  min-width:570px;
}
.form-inline input{
  width:115px;
}

/*right-table*/
.right-table{
  float: right;
  width:40%;
  min-width:400px;
}
.active{
  border:1px solid gainsboro;
  /*border-bottom:none;*/
}










