/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
}
body{
  min-width: 1000px;
  height:100%;
  position: relative;
  margin:0;
  padding:0;
  /*background-image: url("img/bg.jpg");*/
  /*background-size: cover;*/
  /*min-height: 700px;*/

}
/*中间内容*/
.content{
  margin-top:50px;
  min-height:800px;
  min-width: 1025px;
}
/*form*/
.form-inline{
  margin-bottom:15px;
}
.form-inline label,.form-inline input, .form-inline button{
  font-size: 14px;
  font-weight: normal;
}
.form-group{
  margin-right:5px;
}
.form-group select{
  font-size:12px;
  height: 33px;
  padding-top: 6px;
  border-bottom-width: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  border-radius: .25rem;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/*ul*/
.nav-tabs{
  padding-top:15px;
  font-size: 14px;
}
.nav-tabs>li.active>a{
  color: #0265d8;
}
.nav-tabs>li.active>a:hover{
  color: #0265d8;
}
.nav-tabs li a{
  color: black;
}
.nav-tabs li a:hover{
  color: #0265d8;
}
/*表格部分*/
.panel {
  margin: 0 20px;
  font-size: 12px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.panel>.panel-body+.table {
  border-bottom: 1px solid #ddd;
}
.panel-body{
  padding: 15px 0;
}
table {
  margin-bottom: 15px !important;
  border-bottom: 1px solid #eceeef;
}
/*按钮小图标样式*/
.fa-search{
  color: #F2A53A;
}
.fa-plus {
  color: #5DAC81;
}
.fa-refresh, .fa-edit, .fa-trash, .fa-link, .fa-retweet, .fa-eye, .fa-newspaper-o, .fa-snowflake-o{
  color: #666;
}
.fa-edit:hover,.fa-trash:hover, .fa-link:hover, .fa-retweet:hover, .fa-eye:hover, .fa-newspaper-o:hover, .fa-snowflake-o:hover{
  color: #F2A53A;
}
/*操作按钮*/
.action{
  margin-right:15px;
}

/*按钮样式*/
.btn{
  /*padding: 6px 6px;*/
  font-size: 14px !important;
  padding: 6px 6px !important;
}
.btn-secondary{
  border: none !important;
  margin-left: 2px;
  margin-right: 2px;
}


/*modal样式*/
.modal input,.modal textarea,.modal label, .modal select option{
  font-size: 12px;
  font-weight: normal;
}
.modal-footer .btn{
  font-size: 14px;
}
/*.modal-body .modalsearch{*/
  /*margin:0 20px;*/
/*}*/

/*modal取消按钮*/
.cancle{
  background-color: gainsboro;
}
.form-group .control-label{
  padding-top: 5px;
  padding-right: 0px;
}


