<div class="content">
  <div class="panel panel-default">
    <!--<div class="panel-heading">Panel heading</div>-->
    <div class="panel-body">
      <div class="list-op" id="list_op">
        <form class="form-inline">
          <div class="form-group">
            <label >应用系统：</label>
            <input type="text" #searchSys class="form-control" (keyup)="search(searchSys.value)" placeholder="应用系统名称" [formControl]= "titleFilter">
          </div>
          <div class="form-group ">
            <label >数据库：</label>
            <input type="text"  class="form-control" placeholder="数据库名称" >
          </div>
          <div class="form-group ">
            <button type="button" class="btn btn-secondary" >
              <span class="fa fa-search " aria-hidden="true"></span>查询
            </button>
            <span>|</span>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addModal" (click)="setTitle('新增应用系统')">
              <span class="fa fa-plus" aria-hidden="true" ></span>新增
            </button>
            <span>|</span>
            <button type="button" class="btn btn-secondary" >
              <span class="fa fa-refresh" aria-hidden="true" ></span>刷新
            </button>
          </div>
        </form>
      </div>
      <table class="table table-striped table-hover" >
        <tr>
          <td>编号</td>
          <td>应用系统</td>
          <td>创建者 </td>
          <td>负责人</td>
          <td>创建时间</td>
          <td>修改时间</td>
          <td>描述</td>
          <td>操作</td>
        </tr>
        <tr  *ngFor="let system of systems | filter:'sysname': keyword |  slice:start:end ; let i =index;">
          <td>{{i+1}}</td>
          <td >{{system.sysname}}</td>
          <td>{{system.creatror}}</td>
          <td>{{system.principal}}</td>
          <td>{{system.gmtCreate}}</td>
          <td>{{system.gmtModified}}</td>
          <td>{{system.comments}}</td>
          <td>
            <a class="action" data-toggle="modal" data-target="#addModal" (click)="setTitle('修改应用系统')" >
              <i class="fa fa-edit" data-toggle="tooltip" title="修改"></i>
            </a>
            <a class="action" >
              <i class="fa fa-trash" data-toggle="tooltip" title="删除" (click)="delete(system) ; $event.stopPropagation()"></i>
            </a>
            <a class="action" data-toggle="modal" data-target="#dbModal" >
              <i class="fa fa-link" data-toggle="tooltip" title="关联数据库"></i>
            </a>
          </td>
        </tr>
      </table>
      <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [maxSize]="7"
                      [rotate]="true" (pageChange)="pagination(page)">

      </ngb-pagination>
    </div>
  </div>

  <!--modal-->
  <!--应用系统modal-->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="sysModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sysModalLabel">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group row">
              <label for="sysName" class="col-sm-2 control-label ">应用系统：</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="sysName" placeholder="请输入应用系统名称">
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-2 control-label">负责人:</label>
              <div class="col-sm-10">
                <select class="form-control" >
                  <option *ngFor="let user of users">{{user.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="sysDiscribe" class="col-sm-2 control-label">描述：</label>
              <div class="col-sm-10">
                <textarea  class="form-control" id="sysDiscribe"  row="10" placeholder="请输入应用系统的描述说明，长度不可大于40个字符"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary ">保存</button>
          <button type="button" class="btn btn-light cancle" data-dismiss="modal">取消</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




  <!--关联数据库的modal-->
  <div class="modal fade" id="dbModal" tabindex="-1" role="dialog" aria-labelledby="dbModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dbModalLabel">应用系统关联数据库</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="panel panel-default ">
              <div class="panel-body">
                <form class="form-inline ">
                  <div class="form-group ">
                    <label for="dbName">数据库：</label>
                    <input type="text" class="form-control" id="dbName" placeholder="数据库名称">
                  </div>
                  <button type="submit" class="btn btn-secondary">
                    <span class="fa fa-search" aria-hidden="true"></span>查询
                  </button>
                </form>
                <table class="table table-striped table-hover">
                  <tr>
                    <td><input type="checkbox" [(ngModel)]="isChecked" /></td>
                    <td>数据库名</td>
                    <td>HOST</td>
                    <td>功能</td>
                    <td>描述</td>
                  </tr>
                  <tr *ngFor="let system of systems | slice:start:end">
                    <td><input type="checkbox" [checked]="isChecked" /></td>
                    <td>{{system.dbname}}</td>
                    <td>{{system.host}}</td>
                    <td>{{system.function}}</td>
                    <td>{{system.comments}}</td>
                  </tr>
                </table>
                <ngb-pagination [collectionSize]="dbItems" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [maxSize]="7"
                                [rotate]="true" (pageChange)="pagination(page)">

                </ngb-pagination>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">选择</button>
          <button type="button" class="btn btn-light cancle" data-dismiss="modal">取消</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
